<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="cBean" class="College">
   <property name="name" value="LNCT"></property>
    <property name="reg" value="10"></property>
    <property name="sob" ref="sBean"></property>
     <property name="tob" ref="tBean"></property>
   </bean>
   
    <bean id="sBean" class="Student">
   <property name="sname" value="Alis"></property>
    <property name="sage" value="20"></property>
   </bean>
   
   
    <bean id="tBean" class="Teacher">
   <property name="tname" value="deepti"></property>
    <property name="tid" value="30"></property>
   </bean>
   </beans>